.number-field label{
    min-width: 150px;
}

.test{
    min-width: 150px;
}


img {
    max-width: 32px;
    max-height: 32px;
}

#tables {
    display: flex;
    flex-direction: row;
}


tr {
    /*/ Prevents table row from losing alignment on JS HTML changes /*/
    display: table-row-group;
}